#url_form {
    margin: 100px 0px 0px 100px;
    /*border: 2px solid dodgerblue;*/
    padding: 5px;
}

#prog {
    visibility: hidden;
    margin: 100px 0 0 100px;
    width: 500px;
}

#head {
    background-color: dodgerblue;
    color: white;
}

#demo {
    margin: 100px 0 0 100px;
    font-weight: bold;

}